@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDYyMDY3My1WaWt0b3JpaWFTOlhncU1pejBOeTJiS3BjWlBzSk5xZHlLUkxVUGtFWE1R
always-auth=true
